<h1>Todos</h1>

<table class="table">
  <thead>
  <th></th>
  <th>Bezeichnung</th>
  <th>Kategorie</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let t of todos | async " [class.done]="t.done">
    <td style="width:50px;" (click)="toggle(t)">
      <i class="material-icons" *ngIf="t.done">
        done
      </i>
    </td>
    <td (click)="toggle(t)">

      {{t.label}} </td>
    <td (click)="toggle(t)">{{t.category.label}}</td>
    <td>
      <app-importance-chooser [todo]="t"></app-importance-chooser>
    </td>
    <td>
      <button (click)="delete(t)">
        <i class="material-icons">
          delete
        </i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
