<h1>Todos</h1>

<table class="table">
  <thead>
  <th>ID</th>
  <th>Bezeichnung</th>
  <th>Kategorie</th>
  <th></th>
  </thead>
  <tbody>
  <tr *ngFor="let t of todos" (click)="toggle(t)" [class.done]="t.done">
    <td>{{t.id}}</td>
    <td>
      <i class="material-icons" *ngIf="t.done">
        done
      </i>
      {{t.label}} </td>
    <td>{{t.category.label}}</td>
    <td>
      <app-importance-chooser [todo]="t"></app-importance-chooser>
    </td>
    <td>
      <button (click)="delete(t)">
        <i class="material-icons">
          delete
        </i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
