<form>
  <div class="form-group row">
    <label for="text" class="col-4 col-form-label">ID</label>
    <div class="col-8">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fa fa-address-card"></i>
          </div>
        </div>
        <input [(ngModel)]="todo.id" id="text" name="text" placeholder="Nummer des Todo" type="text"
               class="form-control">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="text1" class="col-4 col-form-label">Bezeichnung</label>
    <div class="col-8">
      <input [(ngModel)]="todo.label" id="text1" name="text1" placeholder="Was möchten Sie tun?" type="text"
             class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="select" class="col-4 col-form-label">Kategorie</label>
    <div class="col-8">
      <select id="select" [(ngModel)]="todo.category" name="select" class="custom-select">
        <option *ngFor="let cat of categories" [ngValue]="cat">
          {{cat.label}}
        </option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button (click)="save()" name="submit" type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
